node_modules
coverage
.nyc_output
.idea
.vscode
.env
.npmrc
.next
.DS_Store
*.zip
TESTS-sonar.xml
.scannerwork
.terraform
*.tfstate*
/public
.history
kubeconfig_*
/smarts-ui.iml
reports
*.log
*.sql.gz
wdio-output
test/localstack/data
next-env.d.ts
.env.local
test-results
.dccache
package-lock.json